@import '../GlobalStyles/vars';

.wrapper {
    display: inline-flex;
    align-items: center;
    padding: 9px 16px;
    min-width: 100px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    justify-content: center;
    cursor: pointer;
    background-color: $white;
    border: 1px solid transparent;
    -webkit-user-select: none;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

// Button type
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;

    &:hover {
        border-color: $primary;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: $primary;
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Disable

// Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
