@import '../../../components/GlobalStyles/vars';

.wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);

    @mixin video-controls-opacity-transition($time) {
        -webkit-transition: opacity $time ease-in-out;
        -moz-transition: opacity $time ease-in-out;
        -ms-transition: opacity $time ease-in-out;
        -o-transition: opacity $time ease-in-out;
        transition: opacity $time ease-in-out;
    }

    .video-info {
        display: flex;
        width: 510px;
        gap: 12px;
        align-items: center;

        .account-preview-tippy-wrapper {
            width: fit-content;
            cursor: pointer;
        }

        .avatar-wrapper {
            height: 56px;
            width: fit-content;
        }

        .avatar {
            width: 56px;
            height: 56px;
            border-radius: 50%;
        }

        .text-wrapper {
            .name-info {
                display: flex;
                gap: 10px;
                align-items: center;
                cursor: pointer;
                border-bottom: 2px solid transparent;

                .nickname {
                    font-size: 1.8rem;
                    height: 22px;

                    strong {
                        margin-right: 4px;
                    }

                    .check {
                        font-size: 1.4rem;
                        color: #20d5ec;
                    }
                }

                .name {
                    font-size: 1.4rem;
                }

                &:hover {
                    .nickname {
                        border-bottom: 2px solid #161823;
                    }
                }
            }
        }
    }

    .music-wrapper {
        display: flex;
        gap: 8px;
        font-size: 1.6rem;
        align-items: center;
        cursor: pointer;
        margin: 8px 0 12px 68px;

        .music-icon {
            font-size: 1.4rem;
        }

        .music-name {
            font-weight: 600;
            line-height: 22px;
            height: 18px;

            &:hover {
                border-bottom: 1px solid #161823;
            }
        }
    }

    .video-content {
        cursor: pointer;
        padding-left: 68px;
        display: flex;
        align-items: flex-end;
        gap: 20px;
        position: relative;

        .video {
            width: 290px;
            height: 516px;
            border-radius: 8px;

            &:hover ~ .video-controls {
                .sound-control,
                .play-control {
                    opacity: 1;
                }
            }
        }

        .action-item {
            .action {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                cursor: pointer;
            }

            .action + .action {
                margin-top: 6px;
            }

            .icon-circle {
                width: 48px;
                height: 48px;
                background-color: #f1f1f2;
                border-radius: 50%;
                position: relative;

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .count {
                color: rgba(22, 24, 35, 0.75);
                font-size: 1.2rem;
                line-height: 1.7rem;
            }
        }

        .video-controls {
            position: absolute;
            display: flex;
            bottom: 34px;
            left: 88px;
            gap: 206px;

            &:hover {
                .sound-control,
                .play-control {
                    opacity: 1;
                }
            }

            .sound-control {
                height: 24px;
                color: $white;
                opacity: 0;
                cursor: pointer;
                @include video-controls-opacity-transition(0.2s);
            }

            .play-control {
                color: $white;
                height: 20px;
                opacity: 0;
                cursor: pointer;
                @include video-controls-opacity-transition(0.2s);
            }
        }
    }
}

.wrapper + .wrapper {
    margin-top: 20px;
}
