@import '../../components/GlobalStyles/vars';

.wrapper {
    padding-top: 20px;

    .skeleton-container {
        display: flex;

        .skeleton-avatar {
            width: 56px;
            height: 56px;
            flex: 0 0 56px;
            background: rgba(18, 18, 18, 0.03);
            border-radius: 100%;
            margin-right: 12px;
        }

        .skeleton-wrapper {
            padding-top: 10px;
            flex: 1 1 auto;

            .skeleton-content-container {
                margin-bottom: 16px;
            }

            .skeleton-content {
                margin-bottom: 6px;
                max-width: 100%;
                height: 16px;
                background: rgba(22, 24, 35, 0.03);
                border-radius: 2px;
            }
        }
    }
}
