.wrapper {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 20px;

    @mixin link-style {
        color: rgba(22, 24, 35, 0.5);
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.7rem;
        display: inline-block;
        margin-right: 6px;
        margin-top: 5px;
    }

    .links-wrapper {
        margin-bottom: 8px;

        .tiktok-link {
            @include link-style;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .copyright {
        @include link-style;
    }
}
