@import '../../../components/GlobalStyles/vars';

.wrapper {
    border-top: 1px solid $border-primary;

    .label {
        font-size: 1.4rem;
        padding: 8px;
        font-weight: 600;
    }

    .account-item {
        display: flex;
        padding: 8px;
        cursor: pointer;
        width: calc(100% + #{$sidebar-padding-right});

        .avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }

        .item-info {
            flex: 1;
            margin-left: 12px;

            .nickname {
                font-size: 1.6rem;
                color: #161823;
                line-height: 2.2rem;

                .check {
                    margin-left: 4px;
                    font-size: 1.4rem;
                    color: #20d5ec;
                }
            }

            .name {
                line-height: 1.5rem;
                font-size: 1.2rem;
                color: #161823bf;
            }
        }

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }

    .more-btn {
        cursor: pointer;
        font-weight: 700;
        font-size: 1.4rem;
        color: #fe2c55;
        padding: 8px;
    }
}
