@import '../../../components/GlobalStyles/vars';

.video-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: flex;

    .btn-close {
        position: absolute;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: rgba(84, 84, 84, 0.5);
        border-radius: 50%;
        cursor: pointer;
        border: none;
        outline: none;
        top: 20px;
        left: 20px;
        transition: opacity 0.3s ease 0s;
        color: $white;

        &:hover {
            background-color: rgba(37, 37, 37, 0.6);
        }

        &:active {
            opacity: 0.5;
        }
    }

    .video-content {
        flex: 1 0 600px;
        max-width: 100%;
        background: rgb(0, 0, 0);
        position: relative;
        overflow: hidden;
        padding: 0px 80px;
        height: 100%;
        position: relative;
        z-index: -2;

        display: flex;
        justify-content: center;

        .video-bg {
            position: absolute;
            width: 10%;
            height: 10%;
            filter: blur(2px);
            left: 50%;
            top: 50%;
            transform: scale(11);
            opacity: 0.3;
            background: center center / cover no-repeat;
            z-index: -1;
        }

        .video {
            height: 100%;
        }

        .video-control-container {
            position: absolute;
            bottom: 28px;

            width: calc(100% - 160px);
            height: 24px;
            padding-inline: 16px;
            cursor: initial;
            // display: flex;
            -webkit-box-align: center;
            align-items: center;
            left: 50%;
            transform: translateX(-50%);
            max-width: 56.25vh;
            opacity: 0;
            display: none;

            &.active {
                display: flex;
            }

            .seek-bar-container {
                width: 100%;
                height: 24px;
                flex: 1 1 auto;
                position: relative;

                .seek-bar-background {
                    height: 4px;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.34);
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;

                    .seek-bar-percent {
                        height: 4px;
                        width: 100%;
                        background-color: $white;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        transform-origin: left center;

                        transform: scaleX(0.231148) translateY(-50%);
                    }
                }
            }

            .seek-bar-time {
                flex: 0 0 88px;
                max-width: 88px;
                margin-inline-start: 8px;
                font-size: 1.4rem;
                line-height: 24px;
                color: $white;
                text-align: end;
                white-space: nowrap;
            }
        }
    }

    .video-info {
        flex: 0 0 544px;
        width: 544px;
        display: flex;
        flex-direction: column;
        padding: 32px 0px 0px;
    }
}
