@import '../../GlobalStyles/vars';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        padding: $defaut-layout-horizontal-spacer;
        width: $defaut-layout-width;
        display: flex;

        .content {
            flex: 1;
        }
    }
}
