@import '../../../GlobalStyles/vars';

.wrapper {
    width: 100%;
    height: $defaut-layout-header-height;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;

    .inner {
        height: 100%;
        width: $defaut-layout-width;
        padding: $defaut-layout-horizontal-spacer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .actions {
            display: flex;
            align-items: center;

            .action-btn {
                display: flex;
                align-items: center;
                color: #161823;
                font-size: 2.2rem;
                background-color: transparent;
                padding: 4px 10px;
                cursor: pointer;
                position: relative;

                .badge {
                    position: absolute;
                    top: -3px;
                    right: 0px;
                    padding: 0px 6px;
                    height: 2rem;
                    line-height: 2rem;
                    border-radius: 10px;
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: $white;
                    font-family: 'ProximaNova', sans-serif;
                    background-color: $primary;
                }
            }

            .more-btn {
                font-size: 2rem;
                margin-left: 28px;
                background: transparent;
                padding: 4px 8px;
                cursor: pointer;
            }

            .user-avatar {
                width: 32px;
                height: 32px;
                object-fit: cover;
                border-radius: 50%;
                margin-left: 14px;
                cursor: pointer;
            }
        }
    }
}
