.share-tippy-wrapper {
    // Tooltip arrow custom style
    .tooltip[data-placement^='top'] .tippy-arrow {
        bottom: -8px;
    }

    .tooltip[data-placement^='bottom'] .tippy-arrow {
        top: -8px;
    }

    .tooltip[data-placement^='left'] .tippy-arrow {
        right: -8px;
    }

    .tooltip[data-placement^='right'] .tippy-arrow {
        left: -8px;
    }

    .tippy-arrow,
    .tippy-arrow::before {
        position: absolute;
        width: 16px;
        height: 16px;
        background: inherit;
    }

    .tippy-arrow {
        visibility: hidden;
    }

    .tippy-arrow::before {
        visibility: visible;
        content: '';
        transform: rotate(45deg);
    }

    // End tooltip custom

    .popper-wrapper {
        padding-top: 0;
        cursor: pointer;
    }

    .share-preview {
        padding-top: 8px;
        width: 280px;

        .share-item {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 11px 16px;
            width: 100%;
        }

        .share-down-icon {
            width: 100%;
            padding: 0px 16px;
            margin: 0 auto;
        }

        .bg-hover {
            &:hover {
                background: rgba(22, 24, 35, 0.03);
            }
        }
    }
}
