.wrapper {
    width: 356px;
    padding: 20px 15px 26px 8px;
    margin-left: -18px;
    position: fixed;
    top: 60px;
    max-height: 95vh;
    overflow: overlay;

    &:hover,
    &:focus {
        &::-webkit-scrollbar-thumb {
            visibility: visible;
        }
    }

    // Scrollbar CSS
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: rgba(22, 24, 35, 0.06);
        visibility: hidden;
    }
}
